---
import Demo from "../../layouts/Demo.astro";
---

<script>
  import { RetroRacing } from "../../demo/desert-racing";
  import { Loader } from "../../scripts/loader";
  Loader.load(
    new RetroRacing(document.getElementById("demo") as HTMLCanvasElement)
  );
</script>

<Demo
  title="Desert racing"
  image="/images/dancing-stormtrooper.png"
  description=""
>
  <div class="load">.</div>
  <!-- <a
    href="https://sketchfab.com/3d-models/dancing-stormtrooper-12bd08d66fe04a84be446e583d6663ac"
    >Model created by StrykerDoesAnimation.
  </a> License: <a href="https://creativecommons.org/licenses/by/4.0/"
    >CC Attribution
  </a> -->
</Demo>

<style>
  @font-face {
    font-family: "contrailone";
    src: url("/fonts/contrailone-regular.ttf");
  }
  .load {
    font-family: "contrailone";
    opacity: 0;
  }
</style>
