---
import Demo from "../../layouts/Demo.astro";
---

<script>
  import { RetroRacing } from "../../demo/desert-racing";
  import { Loader } from "../../scripts/loader";
  Loader.load(
    new RetroRacing(document.getElementById("demo") as HTMLCanvasElement)
  );
</script>

<Demo
  title="Desert racing"
  image="/images/desert-racing.jpg"
  description="Low-poly racing game created using Pixi3D - The 3D renderer for PixiJS"
>
  <div slot="license">
    <a
      href="https://sketchfab.com/3d-models/casual-vehicles-pack-28dd1cc6c5a84140aa93fe315ca0e344"
      >Models from Mena.
    </a> License: <a href="https://creativecommons.org/licenses/by/4.0/"
      >CC Attribution
    </a>
  </div>
  <div class="load">.</div>
</Demo>

<style>
  @font-face {
    font-family: "contrailone";
    src: url("/fonts/contrailone-regular.ttf");
  }
  .load {
    font-family: "contrailone";
    opacity: 0;
  }
</style>
