---
export interface Props {
	title: string;
	href: string;
	image: string;
}

const { href, title, image } = Astro.props as Props;
---

<div class="mb-8 break-inside-avoid hover:scale-105 transition-all">
	<a href={href}>
		<img src={image} class="w-full aspect-video mb-2 rounded" />
		<div class="text-center">
			{title}
		</div>
	</a>
</div>
