---
export interface Props {
	title: string;
	href: string;
}

const { href, title } = Astro.props as Props;
---

<div class="mb-8 break-inside-avoid hover:scale-105 transition-all">
	<a href={href}>
		<div class="w-full aspect-video bg-blue-200 mb-2 rounded"></div>
		<div class="text-center">
			{title}
		</div>
	</a>
</div>
